# WhatsApp Cloud API
WHATSAPP_TOKEN=seu_token_aqui
WHATSAPP_VERIFY_TOKEN=um_token_secreto_qualquer_ex_meutoken123
PHONE_NUMBER_ID=1236805762840188
WABA_ID=1411005690861387

# Supabase
SUPABASE_URL=https://SEU_PROJETO.supabase.co
SUPABASE_SERVICE_KEY=sua_service_role_key_aqui

# Meta Conversions API
META_PIXEL_ID=seu_pixel_id_aqui
META_ACCESS_TOKEN=seu_token_aqui

# App
PORT=3000
